[interpreter]
command = "npx serve -s build -p 443"

// run = ""

hidden=[".config"]

[nix]
channel = "stable-22_05"

[languages.javascript]
pattern = "**/{*.js,*.jsx,*.ts,*.tsx}"

  [languages.javascript.languageServer]
  start = [ "typescript-language-server", "--stdio" ]
